@font-face {
    font-family: 'InkFree';
    src: url('../../assets/fonts/ink-free-normal.ttf') format('truetype');
    color: #f2dd6e;
}

body {
    font-size: 10px;
    color: black;
    background-color: #724529;
}

.hidden {
    font-size: 0;
}

.ink-free {
    font-family: 'InkFree';
}

body div.container {
    text-align: center;
}

body div.container h1 {
    font-family: 'InkFree';
    padding: 0;
    font-size: 50px;
}

body div.container div#game {
    display: block;
    margin-left: auto;
    margin-right:auto;
    padding-top: 10px;
}


body div.container div#game canvas {
    border: 1px solid #f2dd6e;
}

#help-info {
    font-family: 'InkFree';
    color: #f2dd6e;
    text-align: left;
    max-width: 1024px;
    margin-left: auto;
    margin-right:auto;
}

.help-header {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.help-content {
    font-size: 16px;
}

