<html>
  <head>
    <title>Guinea Dig Leaderboard!</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th><th>Time</th><th>Room Name</th><th>Player 1</th><th>Player 2</th><th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for score in scores %}
          <tr>
            <td>{{ score['rank'] }}</td>
            <td>{{ score['time'] }}</td>
            <td>{{ score['room_id'] }}</td>
            <td>{{ score['player0name'] }}</td>
            <td>{{ score['player1name'] }}</td>
            <td>{{ score['date'] }}</td>
          </tr>
        {% end %}
      </tbody>
    </table>
  </body>
</html>